{% extends "base.html" %} 
{% block title %}
      Add Csv File
{% endblock %}

{% block content %}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Send Bulk Messages</h4>

            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- basic table -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">

                        <div class="col-12">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                                {% endfor %}
                            </ul>
                          {% endif %}

                            
                        </div>
                  
                        <h4 class="card-title"></h4>
                            <h6>Add number through csv file</h6>
                            <pre>Please only upload file with extension csv
                            </pre>
                        <form class="form" method="POST" enctype="multipart/form-data" >
                                {% csrf_token %}
                                {{form.as_p }}
                            <div class="col-sm-12" style="margin: auto;text-align: center;">
                                <button type="submit" class="btn btn-info">Upload File</button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}